{% extends 'base-backend.html.twig' %}

{% block title %}Edit Lodging{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_lodging_index') }}" class="btn btn-dark mb-3">Retour</a>
    <button class="btn btn-alerte"><i class="align-middle" data-feather="trash-2"></i></button>
    <h1>Modifier le logement</h1>
    {{ include('admin_lodging/_delete_form.html.twig') }}
    </div>
    {{ include('admin_lodging/_form.html.twig', {'button_label': 'Update'}) }}

    

    
{% endblock %}
