{% extends 'base-backend.html.twig' %}

{% block title %}New Lodging{% endblock %}

{% block body %}
    <h1>Créer un nouveau logement</h1>
<a href="{{ path('app_admin_lodging_index') }}"class="btn btn-dark mb-3">Retour</a>
    {{ include('admin_lodging/_form.html.twig') }}

{% endblock %}