{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div id="banniere-home" class="mx-0" style="width:100vw;background-color: #fbf4ec; display: flex;
    flex-direction: column;
    align-items: center; "
    <h1 class="text-center mx-auto my-5 pt-4">Réseau d’hébergements solidaires pour créer du lien et reconstruire des vies</h1>>
    <img src="{{ asset('/images/vecteur1pageacceuil.jpg') }}" class="img-fluid" alt="banniere-home" style="max-width:30%;">
</div>
<div class="container-lg py-4>"</div>

<img src="{{ asset('/img/imageTuto/tuto-noimage.png') }}" class="card-img-top images-tuto" alt="image par défaut">
<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia, </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
    {#  #}
    
    <div class="row mt-5">
            <div class="col-4 mb-3">
                <div class="card h-100 position-relative">
                    <div class="position-relative">
                    
                    </div>
        
                        <div class="m-3 p-5">
                        </div>
                    </a>
                    <div class="d-flex gap-5 position-absolute bottom-0 m-4 p-3">
                        <button type="submit" class="btn btn-primary ">Rencontrer les associations partenaires</button>
                    </div>
                </div>
            </div>
    </div>


<h1 class="text-center">Nos dernieres Annonces</h1>

<div>
<div class="card">
    <img src="public/!image/" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">76000 ROUEN </h5>
    <p class="card-text"></p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">34000 MONTPELLIER</h5>
    <p class="card-text"></p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">93400 SAINT OUEN</h5>
    <p class="card-text"></p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
</div>

<div class="card-group">
        <a href="#">
            <button type="submit" class="btn btn-primary  btn-lg m-4">En savoir plus</button>
        </a>
        <a href="#">
            <button type="submit" class="btn btn-warning  btn-lg m-4">En savoir plus</button>
        </a>
        <a href="#">
            <button type="submit" class="btn btn-success  btn-lg m-4">En savoir plus</button>
        </a>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
        <div class="card">
        <img src="{{ asset('/images/banniere.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
        <img src="{{ asset('/images/banniere.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        </div>
    </div>
    
    </div>

{% endblock %}