{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div id="banniere-home" class="mx-0">
<img src="/images/banniere.png" class="img-fluid" alt="banniere-home">
</div>

<h1 class="text-center">Nos dernieres Annonces</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
        <div class="card">
        <img src="{{ asset('/images/banniere.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
        <img src="{{ asset('/images/banniere.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        </div>
    </div>
    
    </div>

{% endblock %}
