{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Département{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Département</h1>
    <a href="{{ path('app_admin_department_index') }}"class="btn btn-dark mb-3">Retour</a>
    {{ include('admin_department/_form.html.twig') }}

{% endblock %}
