@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;500&display=swap');
/* CSS rules to specify families 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

/*----------------NAVBAR---------------*/

body{
    margin: 0;
    padding: 0;
}


.color-logo{
    color:#FFF0BD
}
.nav_logo {
    display: flex;
    align-items: center;
    color: #f78f52;
}


#navbarNav{
    color:#FFF0BD !important;
} 

.navbarColor{
    color: #FFF0BD !important;
}
.navbarColor:hover {
    background-color: #FFF0BD !important;
    color: #124367 !important;
    border-radius: 20px;
    padding: 5px;
}





/*----------------FOOTER---------------*/

#footer-alignement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    gap: 100px;
    color:#124367;
}

.logo-small {
    width: 100px;
    margin: 25px;
}

#col-footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

a {
   text-decoration: none;
   color: #FFF0BD;
   font-size: 14px;
}

footer {
    background-color: #F78F52;
    padding: 20px;
}

#adresse-asso {
    font-size: 14px;
}

#adresse-assoce {
    color: rgb(103, 97, 97);
}

.reso {
    width: 25px;
}


/* début home page */


/* .class-margin{
    margin-right: 30px;
    margin-left:30px;
    padding:30px;
    padding-top:30px ;
} */

.banniere-home{
    width: 100%; 
    background-color: #fbf4ec; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.titrehebergement{

    color:#124367 ;
    margin-bottom: 100px;
    margin-top: 100px;

}

.card-text,color {
    color: #124367 ;
}

.imageHome {
    width: 40%;
}

.tototitre {
    margin: 2em 0;
}

.imgEnSavoirPlus{
    width: 90%;
    height: 10em;
    object-fit: cover;

}
.toto-title{
    color:#124367;

}

.card-group:nth-child(3)>img {
    object-fit: cover;
    height: 500px;
}

.card-soutenir {
    background-color: #124367;
    color: white;
}

#text-soutenir {
    color: white !important;
}

.btn-bleu, .btn-orange:hover {
    background-color:#124367;
    color:#FFF0BD;
    font-weight: bold;
}

.btn-orange, .btn-bleu:hover, .btn-jaune:hover {
    background-color:#F78F52;
    color:#FFF0BD;
    font-weight: bold;
}

.btn-jaune {
    background-color:#FFF0BD;
    color:#124367;
    font-weight: bold;
}

.titre-bleu {
    color:#124367;
    font-weight: bold;
}

.titre-orange {
    color:#F78F52;
    font-weight: bold;
}

.titre-jaune {
    color:#FFF0BD;
    font-weight: bold;
}

.titre-bleu-clair {
    color: #6360D6;
    font-weight: bold;
}

.quisommenous{
    color: #124367 ;
    size: 20px;

}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 30px;
    align-items: baseline;
    width: 100px;
}
.sponsors-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.titre-home{
    color: #F78F52;
}

.img-soutenir {
    border-radius: 100%;
}

/* fin home page */

/* lodging */

    .banner {
    position: relative;
    text-align:end;
    }
    .banner img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    }
    .banner-text {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .banner-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
    }
    .banner-text p {
    font-size: 18px;
    }
    /* page comment sa marche guest */
    .info-guest-start{
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        align-self: start;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
        
    }
    .info-guest-end{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
    }
    .color-card-guest{
        background-color: #F78F52;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        gap:15px;
        width: 450px;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .img-fonction-right{
        display: flex;
        float: right;
    }
    .img-fonction-left{
        display: flex;
        float: left;
    }
    #text-CCM{
        font-size: 30px;
        margin-bottom: 75px;
    }
    .number-container{
        background-color: red;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .find-lodging{
        background-color: #124367;
        color: #FFF0BD;
        width: 250px;
        margin-bottom: 80px;
        padding: 15px;
        text-align: center;
    }
    .images-CCM{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap :40px;
        justify-content: space-around;
    }
    .images-CCM2{
        DISPLAY: flex;
        FLEX-DIRECTION: row-reverse;
        gap :40px;
        justify-content: space-around;
    }
    .background-banniere{
        background-color: #FFF0BD;
    }


    /* page comment sa marche guest */


    .info-guest-start{
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        align-self: start;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
        
    }

    .info-guest-end{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
    }

    .color-card-guest{
        background-color: #F78F52;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        gap:15px;
        width: 450px;
        height: 150px;
        display: flex;
        align-items: center;

    }

    .img-fonction-right{
        display: flex;
        float: right;

    }

    .img-fonction-left{
        display: flex;
        float: left;
    }

    #text-CCM{
        font-size: 30px;
        margin-bottom: 75px;
    }

    .number-container{
        background-color: red;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .find-lodging{
        background-color: #124367;
        color: #FFF0BD;
        width: 250px;
        margin-bottom: 80px;
        padding: 15px;
        text-align: center;

    }

    .images-CCM{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap :40px;
        justify-content: space-around;
    }

    .images-CCM2{
        DISPLAY: flex;
        FLEX-DIRECTION: row-reverse;
        gap :40px;
        justify-content: space-around;
    }

    .background-banniere{
        background-color: #FFF0BD;
    }


     /* page comment sa marche host */
    .info-host-start{
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        align-self: start;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
    }
    .color-card-host{
        background-color: #FFF0BD;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        gap:15px;
        width: 450px;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .info-host-end{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 30px;
        gap :40px;
        justify-content: space-between;
        
    }
    #find-lodging{
        background-color: #124367;
        color: #FFF0BD;
        width: 250px;
        margin-bottom: 80px;
        padding: 15px;
        text-align: center;
        font-weight: bold;
    }
    #find-lodging:hover{
        background-color:#F78F52 ;
        color: #124367;
    }

 /* page compte profil Guest */
    .size-imput{
            width: 600px;
            display: flex;
            gap: 40px ;
            margin-bottom: 20px;
    }
    .titre-profil-guest{
        font-weight: bold;
        color: #F78F52;

    }

    .sousTitre-profil-guest{
        font-weight: bold;

    }

    .info-asso-style{
        display: flex;
        width: 80%;
        gap: 50px;
        margin-top: 20px;

    }

    .titre-select-job {
    font-weight: bolder;
    font-size: 18px;
    }

    .info-asso{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
        border-radius: 20px;
        background-color: #F78F52;
        padding-bottom: 30px;

    }

    .select-job{
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        background-color: #FFF0BD;
}


    .form-style{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
    }
    .form-width{
        width: 100%;
        width: 300px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        border: 0.5px solid gray;
    }

    .titreConnexionGuest{
        margin-top: 30px;
    }

    input::placeholder {
        color: rgb(226, 223, 223);
    }

    #BtnSendGuest{
        background-color: #124367;
        margin: 0px 30px 0px 30px;
        color: #F78F52;
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius:15px ;
        width: 150px;
    }

    .sousTitre-profil-guest{
        margin-bottom: 80px;
        margin-top: 100px;
    }


/* page Contact */
#contact-title{
    /* font-size: 23px; */

    color:#124367;
}

.contact-container {
    height: 100%;
    margin: 50px 50px 50px 50px !important;
}

/* Bouton envoyer */
#btncontact {
    background-color: #124367;
    color: black;
    font-size: 20px;
    color: #FFF0BD;
    font-weight: bold;
}

#btncontact:hover {
    background-color: #F78F52;
    color:black;
}

/* Zone de saisie du formulaire */
#contact-form {
    background-color: #FFF0BD;
}

.captcha {
    padding-top: 25px;
}

/*------------PAGE QUI SOMMES NOUS ?-----------*/

.qsn-container {
    padding-bottom: 25px !important;
}

.qsn-objectifs {
    padding: 50px;
    text-align: center;
}

.qsn-histoire .img-histoire {
    padding: 25px !important;
}


.qsn-titre {
    color: #124367;
    text-align: center;
    padding: 50px;
}

.qsn-text {
    font-family: 'Montserrat', sans-serif;
}

.qsn-wrapper-objectifs {
    text-align: start;
}

.engagement {
    color: #F78F52;
    font-weight: bold;
    font-size:x-large;
}

.troisobj {
    padding-bottom: 50px;
}

.img-histoire {
    padding-bottom: 50px;
}

.qsn-wrap {
    background-color: #FFF0BD;
}

/* partie équipe */
.equipe-ligne-uno {
    padding-bottom: 50px;
}

.qsn-wrap-equipe {
    padding-bottom: 50px;
}
.link_orange {
    color: #F78F52!important;
}

/* page login */

#login-container, #profil-container, #register-container {
    background-color:#FFF0BD;
    gap:5px;
    color:#124367;
    margin-bottom: 100px;
    margin-top: 100px;
    padding:10px 30px 10px 30px

}

#login-inscrire{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top:5px;
}

#btn-login{
    background-color: #124367;
        color: #F78F52; 
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius:15px ;
        width: 250px;
        text-align: center;

}

/*-----------------SHOW GUEST----------------*/

#cadre-avatar-shg {
    height: 250px;
    width: 330px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    border-radius: 25px;
    margin-top: 60px;
    margin-left: 100px;
}

#cadre-verification {
    height: 250px;
    width: 330px;
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

#apropos-shg {
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 35px;
}

#photo-igmar {
    border-radius: 50px;
    margin: 20px;

}

#shg-col-2 {
    padding-left: 100px;
}

#icone-superguest {
    width: 25px;
}

#prez-guest {
    display:grid ;
    justify-items: center;
    margin-bottom: 25px;

}

#shg-avis {
    margin-top: 50px;
    display:grid ;
    justify-items: center;
}

#icon-france {
    width: 50px;
}

/* barre horizontal */
    /* hr.hr-3 {
        border: 0;
        height: 0;
        border-top: 1px solid #8c8c8c;
} */

#avis-shg {
    margin-top: 20px;
    font-weight:bolder;
    font-size: 25px;

}

#shg-btn-contact {
    margin-top: 35px;
    height: 55px;
    width: 290px;
    background-color:#124367;
    color:#F78F52;
    font-size: 18px;
    font-weight:600;
}

#shg-btn-contact:hover {
    background-color: #F78F52;
    color:black;
}

#shg-verif {
    margin-top: 30px;
    padding-left: 50px;
}

.cadre-avis-1 {
    height: 250px;
    width: 330px;
    border-radius: 25px;
    margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#shg-avis1 {
    padding: 30px;
}

#shg-Langues {
    margin-top: 110px;
}

#iconlg {
    padding-right: 15px;
}

.shg-lg {
    padding-left: 200px;
}


