.banner-host{
    background-image: url('../images/comptehost.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top : 280px;
    padding-bottom: 150px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    color:#124367;
}

.titlehost{
    margin-bottom: 50px;
}

.title-infos{
color :  #F78F52;
margin-top: 20px;
text-align: center;
}

.cadre{
    margin-left: 20px;
    margin-right: 20px;
}



