/*  css pour la navbar */
body{
    margin: 0;
    padding: 0;
}

#navbarNav{
    color:#FFF0BD
}

/* css footer */

#footer-alignement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    gap: 100px;
    color:#124367;
}

/* page home */

#banniere-home{
    width: 100vw;
    text-align: center;
    background-color: #fbf4ec;
}

#a {
color: yellow;}

/* page Contact */
.img-contact {
        width: 100%;
        height: 0;
        padding-bottom: calc(880 / 1320 * 100%);
        position: relative;
        overflow: hidden;
    }

.img-contact img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.container-contact {
    height: 100%;
}

/* page comment ça marche GUEST  */

    .info-guest-start{
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        align-self: start;
        margin-bottom: 50px;
    }
    .info-guest-end{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 50px;
        padding: 30PX 30PX;
    }
    .color-card-guest{
        background-color: #F78F52;
        border-radius: 15px;
        padding: 30px;
    }

/* page création compte host */

.bannerhost{
    background-image: url('../images/comptehost.jpg');

    text-align: center;
}

h1{
margin-left: 100px;
}