<h1>Bienvenue chez ToitsUnis !</h1>
<h2>Le premier réseau d’hébergements solidaires pour créer du lien et reconstruire des vies</h2>

<p>
    Vous avez déjà accompli de grandes choses en remplissant le formulaire en ligne ! 
    <br>
    Vous pouvez dès à présent remplir le formulaire de l'hébergement que vous souhaitez proposer en cliquant
    <a href="{{ registerLodgingUrl|raw }}">juste ici !</a>.
</p>

<p>
    Cheers!
</p>
