<h1>Bienvenue chez ToitsUnis !</h1>
<h2>Le premier réseau d’hébergements solidaires pour créer du lien et reconstruire des vies</h2>

<p>
    Vous avez déjà accompli de grandes choses en remplissant le formulaire en ligne ! 
    <br>
    Vous pouvez dès à présent nous envoyer les informations suivantes par email concernant l'hébergement solidaire que vous proposez :
    
</p>

<p>
A bientôt chez ToitsUnis !
</p>
