{% extends 'base-backend.html.twig' %}

{% block title %}Admin ToitsUnis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur la partie Admin du site ToitsUnis !</h1>
    <br>
    <p>Cette partie est exclusivement réservée aux personnes qui ont un accès admin au site ToitsUnis. C'est ici que vous pourrez : </p>
    <li>Ajouter, modifier, supprimer un nouvel hôte solidaire</li>
    <li>Ajouter, modifier, supprimer un nouvel hébergement solidaire</li>
    <li>Ajouter, modifier, supprimer des nouveaux équipements ou des nouvelles catégories de logement</li>
</div>
{% endblock %}
