<h1>Bienvenue dans le réseau Toits Unis</h1>

<p>
    Il reste une toute petite étape avant la finalisation de votre inscription ! <br>
    Cliquez ici pour confirmer votre adresse e-mail : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>
    <br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt dans le réseau Toits Unis !
</p>
