{% extends 'base.html.twig' %}

{% block title %}Comment ça marche - Hôte{% endblock %}

{% block body %}

    <div class="banner background-banniere">
        <img src="/images/banniere3.png" alt="BannièrePageLodging">
        <div class="banner-text">
            <h1>Comment devenir accueillant ?</h1>
        </div>
    </div>

    <div class="container-lg py-5">
        <div class="row">
                <div class="col-md-12 info-host-start">
                    <div class="mb-3">
                        <div class="card-body color-card-host">
                            <div class="number-container text-center fs-2">1</div>
                            <div class="text-align">
                                <h5>Renseigner vos informations</h5>
                                <p>Nom, prénom et contacts (email, n° de tél)</p>
                            </div>    
                        </div>
                    </div>
                </div>

                </div>

                <div class="col-md-12 info-host-end">
                    <div class="mb-3 images-CCM2">
                        <img src="{{ asset('/images/inscription-host.png') }}" class="img-fonction-right w-50" alt="image sélection type logement">
                        <img src="/images/fleche1.png" class=" w-25" alt="flèche vers le bas droite"> 
                    </div> 
                </div> 
   
            <div class="col-md-12 info-host-end">
                <div class="mb-3">
                    <div class="card-body color-card-host">
                        <div class="number-container text-center fs-2">2</div>
                            <div>
                                <h5>Accepter les conditions et valider</h5>
                                <p>Conditions générales d’utilisation</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>   
        </div>

        {# <div class="col-md-12 info-host-start">
            <div class="mb-3 images-CCM">
                <img src="/images/fleche1.png" class=" w-25" alt="...">
                <img src="/images/CCMH_Valider.png" class=" w-25" alt="image case à valider">
            </div>    
        </div>
    </div>     #}

        <p class="text-center" id="text-CCM">Soumettez votre demande, nous reviendrons vers vous pour la suite.</p>

    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{{path('app_register_host') }}" class="btn  text-center" id="find-lodging">Devenir hôte</a>
        </div>
    </div>

    {# Ajout du formulaire : Comment devenir hote ? #}
    {# <div>{% include 'registration_host/register_host.html.twig' %}</div> #}
    {% endblock %}
