{% extends 'base.html.twig' %}

{% block title %}Details du logement{% endblock %}

{% block body %}
<div class="text-start">
<h1>Grand appartement , avec une chambre disponible</h1>
<p>Seine-Saint-Denis, Ile de France, Région parisienne</p>
</div>
<a href="{{ path('app_lodging_show', { 'slugLod': lodging.slugLod }) }}" class="btn btn-primary">Envoyer une demande</a>


<div class="card-body">
<a href="{{ path('app_lodging_show', {slugLod: lodging.slugLod}) }}" class="text-dark">{{ lodging.titleLod }}Mettre en favoris</a>
        {% if app.user is not null %} 
        {% if lodging not in app.user.lodgings %}
        <a href="{{ path('app_favori', {id: lodging.id }) }}" class="mt-3 btn btn-dark">Ajouter aux favoris</a>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}