<h1>Vous avez reçu une demande d'hébergement !</h1>

<p>
    Vous pouvez confirmer voir le profil et confirmer ou décliner la demande d'hébergement en cliquant sur ce lien : <br><br>
    <a href="{{ registerLodgingUrl }}">Voir le profil</a>.
La demande d'hébergement expirera automatiquement dans 2 heures. <br><br>
    Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse suivante : mailer@toitsUnis.com.
</p>

<p> A bientôt ! </p>
<h1>Tois Unis</h1>