<h1>Vous avez reçu une demande d'hébergement !</h1>

<p>
    Bonjour<br>
    Nous sommes une association partenaire de Toits Unis<br>
Nous souhaiterions loger une personne dans le besoin dans le logement que vous proposez. 
<br>
Vous pouvez confirmer la disponibilité du logement par retour d'email. 
<br>
La demande d'hébergement expirera automatiquement dans 2 heures. <br>
Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse suivante : mailer@toitsUnis.com.
</p>

<p> A bientôt ! </p>
<h1>Tois Unis</h1>