{% extends 'base.html.twig' %}

{% block title %}show Lodging!{% endblock %}

{% block body %}
<div class="text-start">
<h1>Grand appartement , avec une chambre disponible</h1>
<p>Seine-Saint-Denis, Ile de France, Région parisienne</p>
</div>


{% endblock %}