{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle association{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle association</h1>
    <a href="{{ path('app_admin_association_index') }}"class="btn btn-dark mb-3">Retour</a>
    {{ include('admin_association/_form.html.twig') }}

{% endblock %}

