{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

{# <article id="post-3" class="post-3 page type-page status-publish hentry">
	
    <div class="entry-content">
    <div class="et-l et-l--post">
<div class="et_builder_inner_content et_pb_gutters2">
<div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular" >

<div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">

<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_dark"> #}

<div class="et_pb_text_inner text-center"><h1>Mentions légales</h1></div>
{# </div>
</div> #}

{# </div>

</div><div class="et_pb_section et_pb_section_2 et_section_regular" >

<div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
<div class="et_pb_column et_pb_column_1_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">

<div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light"> #}

<div class="et_pb_text_inner m-5"><h2>Définitions</h2>
<p><b>Client :</b> tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.</p>
<p><b>Prestations et Services :</b> <a href="https://toitsunis.org">https://toitsunis.org</a> met à disposition des Clients :</p>
<p><b>Contenu :</b> Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.</p>
<p><b>Informations clients :</b> Ci après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par <a href="https://toitsunis.org">https://toitsunis.org</a> pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.</p>
<p><b>Utilisateur :</b> Internaute se connectant, utilisant le site susnommé.</p>
<p><b>Informations personnelles :</b> « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l&rsquo;identification des personnes physiques auxquelles elles s&rsquo;appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
<p>Les termes « données à caractère personnel », « personne concernée », « sous traitant » et « données sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)</p></div>
</div>
</div>

{# </div><div class="et_pb_row et_pb_row_2">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">

<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item  et_pb_toggle_close"> #}

<h3 class="et_pb_toggle_title m-5">1. Présentation du site internet</h3>
				<div class="m-5">En vertu de l&rsquo;article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l&rsquo;économie numérique, il est précisé aux utilisateurs du site internet <a href="https://descodeuses.org">https://descodeuses.org</a> l&rsquo;identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
<p><strong>Propriétaire</strong> : Association DesCodeuses Numéro de TVA: 84103338400022 – 15 rue Henri Chevreau 75020 Paris</p>
<p><strong>Responsable publication</strong> : Toits Unis – <a href="contact@toitsunis.org">contact@toitsunis.org</a></p>
<p>Le responsable publication est une personne physique ou une personne morale.</p>
<p><strong>Webmaster</strong> : DesCodeuses – <a href="webmaster@toitsunis.org">webmaster@toitsunis.org</a></p>
<p><strong>Hébergeur</strong> : ovh – 2 rue Kellermann 59100 Roubaix 1007</p>
<p><strong>Délégué à la protection des données</strong> : Mme Adèle Jouneau – <a href="rgpd@toitsunis.org">rgpd@toitsunis.org</a></p>
<div ng-bind-html="linkHTML">
<p>Ces mentions légales RGPD sont issues du <a href="https://fr.orson.io/1371/generateur-mentions-legales" title="générateur de mentions légales RGPD d" target="_blank" rel="noopener">générateur de mentions légales RGPD d&rsquo;Orson.io</a></p>
</div></div>
			



{% endblock %}