{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <link rel="stylesheet" href="./css/styledtoitsunis.css">
</head>
{% endblock %}

{% block title %}Qui sommes nous ?
{% endblock %}

{% block body %}
	<div class="qsn-banner">
		<img src="/images/illustration qui sommes nous.png" alt="illustration qui sommes nous">
	</div>
	<div class="qsn-container" style="background:#FFF0BD">
		<div id="qsn-text" class="col-7 mx-auto">
			<h1 style="text-align:center">Qui sommes nous ?</h1>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
				<br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
				<br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
				<br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia,
			</p>
		</div>
	</div>
	<div class="col-7 mx-auto">
		<div class="row align-items-center" style="text-align: center">
			<div>
				<h2>Nos objectifs</h2>
			</div>
			<div class="col">
				{# One of three columns #}
				<p>1 Un toit pour tous</p>
				<br>
				<img src="/images/Qui sommes nous/un toit aimant.png" alt="icone un toit pour tous">
			</div>
			<div class="col">
				<p>2 Se loger rapidement</p>
				<br>
				<img src="/images/Qui sommes nous/Loger rapide vert.png" alt="icone un toit avec un chronomètre ">
			</div>
			<div class="col">
				<p>3 Sécurité & Fiabilité</p>
				<br>
				<img src="/images/Qui sommes nous/Sécurité Fiabilité 2.png" alt="icone bonhomme vérifié">
			</div>
		</div>
		<div class="col-12 text-center">
			<h2>Notre histoire</h2>
			<img src="/images/Qui sommes nous/famille-farouk.jpg" alt="image famille Farouk parents et enfants">
		</div>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
			<br>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
			<br>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
			<br>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus justo, sodales a fringilla eget, cursus sit amet elit. Sed egestas tellus nisi, a suscipit arcu feugiat non. Mauris at dui a libero maximus dignissim. Aenean sed sem leo. Praesent non ante lacinia.
		</p>
	</div>

{% endblock %}
