{% extends 'base.html.twig' %}

{% block stylesheets %}
	<head>
		<meta charset="UTF-8">
		<title>Page Admin</title>
		<link rel="stylesheet" href="./css/styledtoitsunis.css">
	</head>
{% endblock %}

{% block title %}Qui sommes nous ?
{% endblock %}

{% block body %}
	{# bannière #}
	<div class="qsn-banner">
		<img src="/images/illustration qui sommes nous.png" class="w-75" alt="illustration qui sommes nous">
	</div>
	{# partie Présentation  #}
	<div class="qsn-wrap">
		<div class="qsn-container">
			<div id="qsn-text" class="col-7 mx-auto">
				<h1 class="qsn-titre">Qui sommes nous ?</h1>
				<br>
				<p>L'équipe de cette association se compose de quatre femmes passionnées par leur travail d'accueil des réfugiés et de soutien à leur intégration. 
					<br>
					Chacune d'entre elles apporte ses compétences uniques et sa sensibilité à ce projet essentiel. 
					<br>
					D'abord, il y a Adèle, ​​une travailleuse sociale douée, dont l'empathie naturelle réconforte les réfugiés en leur offrant un soutien émotionnel précieux.
					<br>
					Ensuite, il y a Nassima, une experte en logistique, qui coordonne avec brio les placements chez les familles d'accueil, veillant à ce que les réfugiés se sentent en sécurité et chaleureusement accueillis. 
					<br>
					Bintou, une enseignante expérimentée, joue un rôle essentiel en organisant des cours de langue et en aidant les réfugiés à acquérir les compétences nécessaires pour s'intégrer dans leur nouvelle communauté.
					<br>
					Enfin, nous avons Danielle, une bénévole engagée qui s'occupe des démarches administratives et assure une communication fluide entre l'association et les familles d'accueil. 
					<br>
					Ces quatre femmes forment une équipe solidaire, travaillant de concert pour offrir aux réfugiés un soutien essentiel dans leur parcours d'intégration, avec pour objectif de créer un environnement accueillant et bienveillant pour tous.
			
				</p>
			</div>
		</div>
	</div>
	{# partie Nos objectifs #}
	<div class="qsn-wrapper-objectifs">
		<div class="col-7 mx-auto">
			<div class="qsn-objectifs">
				<div class="troisobj">
					<div class="row align-items-center">
						<h2 class="qsn-titre">Nos objectifs</h2>
						<div
							class="col">
							{# One of three columns #}
							<p class="engagement">Un toit
								<br>
								pour tous</p>
							<br>
							<img src="/images/Qui sommes nous/un toit aimant_s.png" alt="icone un toit pour tous">
						</div>
						<div class="col">
							<p class="engagement">Se loger
								<br>rapidement</p>
							<br>
							<img src="/images/Qui sommes nous/Loger rapide vert_s.png" alt="icone un toit avec un chronomètre ">
						</div>
						<div class="col">
							<p class="engagement">Sécurité
								<br>
								Fiabilité</p>
							<br>
							<img src="/images/Qui sommes nous/Sécurité Fiabilité_s.png" alt="icone bonhomme vérifié">
						</div>
					</div>
				</div>
			</div>
		</div>
		{# partie Notre histoire #}
		<div class="qsn-wrap">
			<div class="qsn-container">
				<div class="col-7 mx-auto">
					<div id="qsn-text" class="col-7 mx-auto">
						<div class="img-histoire">
							<h2 class="qsn-titre">Notre histoire</h2>
							<img src="/images/Qui sommes nous/groupemix.png" class="col-12 text-center" alt="image famille Farouk parents et enfants">
						</div>
					</div>
					{# <p>Voici l'histoire de Toits Unis une association qui accueille des réfugiés et propose des hébergements chez l'habitant : #}
						Toits Unis est une association qui a été fondée il y a cinq ans par un groupe de femmes déterminées à faire une différence dans la vie des réfugiés cherchant refuge dans leur pays. 
					<br>
						Elles ont été témoins de la détresse et des défis auxquels étaient confrontés ces individus vulnérables, et elles ont ressenti le besoin urgent d'agir.
					
						{# Au départ, l'association était un petit projet bénévole, avec seulement quelques membres travaillant à temps partiel.  #}
					
						{# Leur mission était d'offrir un toit sûr et un soutien aux réfugiés, en particulier aux femmes et aux enfants, qui avaient souvent traversé des épreuves traumatisantes.  #}
					<br>
						L'équipe initiale a commencé par mobiliser des familles d'accueil prêtes à ouvrir leurs portes et à partager leur foyer avec ceux qui avaient besoin d'un refuge temporaire.
					<br>
						Grâce à leur dévouement et à leur persévérance, l'association a rapidement suscité l'intérêt et le soutien de la communauté locale.
					<br>
						Les bénévoles ont organisé des collectes de fonds, des événements de sensibilisation et ont établi des partenariats avec d'autres organisations humanitaires.
					<br>
						Ces efforts ont permis d'élargir les ressources disponibles et d'accueillir davantage de réfugiés.
						{# Au fil des années, l'association s'est développée et a établi des relations solides avec les autorités locales et les institutions gouvernementales. #}
					
						Elles ont obtenu des subventions et des financements pour étendre leurs activités et fournir un soutien encore plus complet aux réfugiés.
					{# De plus, l'équipe a continué à se former et à se renforcer en recrutant des membres compétents et passionnés pour rejoindre leurs rangs. #}

					<br>
						Aujourd'hui, l'association est devenue une référence dans le domaine de l'accueil des réfugiés.  
						{# Leurs programmes comprennent non seulement l'hébergement chez l'habitant, mais aussi des cours de langue, des formations professionnelles, des services de soutien psychosocial et une assistance dans les démarches administratives. #}
						{# Elles ont réussi à aider de nombreux réfugiés à reconstruire leur vie et à s'intégrer pleinement dans leur nouvelle communauté. #}
					<br>Leur engagement envers les réfugiés et leur détermination à leur offrir un nouveau départ sont une source d'inspiration pour tous ceux qui croisent leur chemin.
					
					</p>
				</div>
			</div>
		</div>
		{# partie Notre équipe #}
		<div class="qsn-wrap-equipe">
			<div class="col-7 mx-auto">
				<div class="qsn-objectifs">
					<div class="equipe-ligne-uno">
						<div class="row align-items-center" style="text-align: center">
							<h2 class="qsn-titre">Notre équipe</h2>
							<div
								class="col">
								{# One of three columns #}
								<img src="images/Qui sommes nous/brune-avatar-96(1).png" alt="icone un toit pour tous">
								<p><strong>Danielle Tang</strong></p>
								<p>Présidente</p>
								<a class="link_orange" href="mailto:danielle@toitsunis.org">danielle@toitsunis.org</a>
							</div>
							{# <div class="col">
								<img src="images/Qui sommes nous/redhair-avatar-96 (3).png" alt="icone un toit avec un chronomètre ">
								<p><strong>Adèle Juneau</strong></p>
								<p>Communication</p>
								<a class="link_orange" href="mailto:nassima@toitsunis.org">nassima@toitsunis.org</a>
							</div> #}
							<div class="col">
								<img src="images/Qui sommes nous/brune-avatar-96(1).png" alt="icone bonhomme vérifié">
								<p><strong>Nassima Si-bachir</strong></p>
								<p>Partenaires</p>
								<a class="link_orange" href="mailto:nassimae@toitsunis.org">nassima@toitsunis.org</a>
							</div>
						</div>
					</div>
					<div class="equipe-ligne-dos">
						<div class="row align-items-center" style="text-align: center">
							<div
								{# One of three columns #}
							<div class="col">
								<img src="images/Qui sommes nous/redhair-avatar-96 (3).png" alt="icone un toit avec un chronomètre ">
								<p><strong>Adèle Juneau</strong></p>
								<p>Communication</p>
								<a class="link_orange" href="mailto:adele@toitsunis.org">adele@toitsunis.org</a>
							</div>
							
							{# <div class="col">
								<img src="images/Qui sommes nous/Blonde avatar-96.png" alt="icone un toit avec un chronomètre">
								<p><strong>Sophie Martin</strong></p>
								<p>Coordination</p>
								<a class="link_orange" href="mailto:sophie@toitsunis.org">sophie@toitsunis.org</a>
							</div> #}
							<div class="col">
								<img src="images/Qui sommes nous/icons8-avatar-96.png" alt="icone bonhomme vérifié">
								<p><strong>Bintou Sidibe</strong></p>
								<p>Trésorie</p>
								<a class="link_orange" href="mailto:bintou@toitsunis.org">Bintou@toitsunis.org</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
