{% extends 'base.html.twig' %}

{% block title %}Guest recherché
{% endblock %}

{% block body %}
	<div class="container">
  <div class="row row-cols-3">
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>
	{% endblock %}
